In [1]:
info = dict(name = 'asad', age = 24, city = 'sultanpur', course ='data science ')
print(info)

{'name': 'asad', 'age': 24, 'city': 'sultanpur', 'course': 'data science '}

In [2]:
temp = {
    'lucknow':[25,30,35],
    'delhi':[35,40,45],
    'mumbai':[28,30,34],
    'chennai':[30,32,34],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [35, 40, 45], 'mumbai': [28, 30, 34], 'chennai': [30, 32, 34]}

In [3]:
sum(temp['delhi'])/len(['delhi'])
print(sum)

<built-in function sum>

In [4]:
# access key-value pair
student = {
    'name' : 'asad',
    'age' : 20,
    'city' : 'sultanpur'
}
print(student)

{'name': 'asad', 'age': 20, 'city': 'sultanpur'}

In [5]:
#access key value pair
print(student['name'])
print(student['city'])

asad
sultanpur

In [6]:
# 2nd method to access key-value pair
student.get('city')
student.get('name')

'asad'

In [7]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'city'])
dict_values(['asad', 20, 'sultanpur'])
dict_items([('name', 'asad'), ('age', 20), ('city', 'sultanpur')])

In [8]:
for k in student:
    print(k)

name
age
city

In [9]:
for k,v in student.items():
    print(f"{k}:{v}")

name:asad
age:20
city:sultanpur

In [10]:
a = 10
b = 5
sum = a + b
print("sum is",sum)
print("sum of ",a,"and",b, "is",sum)
print(f"sum of{a} and {b} is {sum}")

sum is 15
sum of  10 and 5 is 15
sum of10 and 5 is 15

In [11]:
# to add a new key value pair
student['grade'] = 'A'

In [12]:
print (student)

{'name': 'asad', 'age': 20, 'city': 'sultanpur', 'grade': 'A'}

In [13]:
student['number'] = '8090424919'

In [14]:
print(student)

{'name': 'asad', 'age': 20, 'city': 'sultanpur', 'grade': 'A', 'number': '8090424919'}

In [15]:
# remove a key-value pair method(pop)
student.pop('city',None) # using none to avoid keyerror if 'city' dose not exist
print(student)

{'name': 'asad', 'age': 20, 'grade': 'A', 'number': '8090424919'}

In [16]:
student.pop("father's name",None)
print(student)

{'name': 'asad', 'age': 20, 'grade': 'A', 'number': '8090424919'}

In [17]:
# TO UPDATE AN EXISTING KEY - VALUE PAIR
student['age']=24
print(student)

{'name': 'asad', 'age': 24, 'grade': 'A', 'number': '8090424919'}

In [18]:
# Nested dictionsry
company = {
    'emp001' :{
        'name' :'asad',
        'age' : 24,
        'dipartment' : 'HR',
        'salary' : 60000
    },
    'emp002' :{
        'name' : 'bob',
    'age': 25,
    'department': 'IT',
    'salary': 70000
    },
    'emp003':{
        'name' :'charlie',
        'age' : 35,
        'department' : 'finance',
        'salary' : 80000
    }
}
print(company)

{'emp001': {'name': 'asad', 'age': 24, 'dipartment': 'HR', 'salary': 60000}, 'emp002': {'name': 'bob', 'age': 25, 'department': 'IT', 'salary': 70000}, 'emp003': {'name': 'charlie', 'age': 35, 'department': 'finance', 'salary': 80000}}

In [19]:
#import pprint as pprint
from pprint import pprint

In [20]:
pprint(company)

{'emp001': {'age': 24, 'dipartment': 'HR', 'name': 'asad', 'salary': 60000},
 'emp002': {'age': 25, 'department': 'IT', 'name': 'bob', 'salary': 70000},
 'emp003': {'age': 35,
            'department': 'finance',
            'name': 'charlie',
            'salary': 80000}}

In [21]:
company['emp002']['salary']

70000